{% extends "base.html" %}

{% block menu %}
<li class="list-group-item list-group-item-light menu" id="MakeAppointment">
  <a href="/user_home/appointment/">Make Appointment</a> </li>
<li class="list-group-item list-group-item-light menu" id="UpdateProfile">
  <a href="/user_home/profile_update/">Update Profile</a> </li>
<li class="list-group-item list-group-item-light menu" id="AddNewAccount">
  <a href="/user_home/new_account/">Add New Account</a> </li>
<li class="list-group-item list-group-item-light menu" id="DeleteAccount">
  <a href="/user_home/delete_account/">Delete Account</a> </li>
<li class="list-group-item list-group-item-light menu" id="Deposit">
  <a href="/user_home/deposit/">Deposit</a> </li>
<li class="list-group-item list-group-item-light menu" id="Withdraw">
  <a href="/user_home/withdraw/">Withdraw</a> </li>
<li class="list-group-item list-group-item-light menu" id="GetStatement">
  <a href="/user_home/fundTransfer/">Transfer Funds</a> </li>
<li class="list-group-item list-group-item-light menu" id="GetStatement">
  <a href="/user_home/getStatement/">Download Statement</a> </li>

{% endblock menu %}